[submodule "themes/poison"]
	path = themes/poison
	url = https://github.com/lukeorth/poison
[submodule "themes/poisonmods"]
	path = themes/poisonmods
	url = https://github.com/mwtaylor/HugoPoisonMods
